section.discover {
	margin-bottom: 140px;
	@include media("<=480px") {
		font-size: 14px;
	}
	@include media("<=425px") {
		font-size: 12px;
	}
	@include media("<=375px") {
		font-size: 10px;
	}
	.wrapper {
		margin: 0 0 0 auto;
		max-width: 1339px;
		.lf-content {
			p {
				width: 386px;
				margin-bottom: 1.19em;
				font-family: "Roxborough CF", sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 2.25em;
				line-height: 100.5%;
				/* or 36px */
				font-feature-settings: "pnum" on, "lnum" on;
				color: #000000;
				@include media("<=425px") {
					width: 300px;
				}

				@include media("<=375px") {
					width: 300px;
				}
			}

			.discover-btn {
				display: flex;
				align-items: center;
				gap: 10px;
				span {
					font-family: "Gilmer", sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 14px;
					color: #000000;
				}
			}
		}
		.line {
			width: 100%;
			height: 1px;
			background-color: black;
		}
	}
}
