.header {
	width: 100vw;
	height: 690px;
	background-image: url(../../assets/wp2731611.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	filter: brightness(50%);
}
