nav {
	height: 94px;
	width: 100%;
	font-family: "Gilmer", Arial, Helvetica, sans-serif;
	font-weight: 700;
	position: sticky;
	.nav-wrapper {
		position: relative;
		height: 100%;

		.nav-items {
			height: 100%;
		}

		.nav-left {
			span {
				font-family: "Gilmer", Arial, Helvetica, sans-serif;
				font-weight: 800;
				font-size: 24px;
			}
		}

		.nav-right {
			@include media("<=832px") {
				display: none;
			}
			span {
				font-size: 12px;
				margin-right: 10px;
			}
		}

		.hamburger {
			width: 15px;
			@include media(">832px") {
				display: none;
			}

			span {
				display: block;
				margin-bottom: 2px;
				height: 2px;
				width: 100%;
				background-color: black;

				&:nth-child(3) {
					margin-bottom: 0;
					width: 50%;
				}
			}
		}

		.nav-center {
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);

			@include media("<=832px") {
				display: none;
			}

			ul.nav-list {
				li {
					font-size: 12px;
					margin: 0 20px;
					display: inline;
				}
			}
		}
	}
}
