@font-face {
	font-family: "Gilmer";
	src: url("../fonts/Gilmer Regular.woff") format("woff");
}

@font-face {
	font-family: "Gilmer Bold";
	src: url("../fonts/Gilmer Bold.woff") format("woff");
}

@font-face {
	font-family: "Gilmer Heavy";
	src: url("../fonts/Gilmer Heavy.woff") format("woff");
}

@font-face {
	font-family: "Gilmer Light";
	src: url("../fonts/Gilmer Light.woff") format("woff");
}

@font-face {
	font-family: "Gilmer Medium";
	src: url("../fonts/Gilmer Medium.woff") format("woff");
}
