@font-face {
	font-family: "Gilmer";
	src: url("gilmer/Gilmer Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilmer";
	src: url("gilmer/Gilmer Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilmer";
	src: url("gilmer/Gilmer Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilmer Outline";
	src: url("gilmer/Gilmer Outline.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilmer";
	src: url("gilmer/Gilmer Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilmer";
	src: url("gilmer/Gilmer Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
